<template>
  <div>
    <!-- button -->
    <b-button
      id="btnId"
      v-b-modal.modal-no-backdrop
      class="btn btn-warning"
      style="float: right;"
      v-if="getRole === 'admin'"
      
      @click="showAddModal()"
    >ADD</b-button>
    <!-- Modal -->

    <b-modal id="modal-no-backdrop" hide-backdrop centered hide-footer title="ADD PLAN" no-fade>
      <template v-slot:default="{ hide }">
        <b-form @submit.prevent="addPlan">
          <!-- textbox name -->
          <b-form-group id="input-group-1" label="Plan Name:" label-for="input-1">
            <b-form-input id="inputplan" v-model="form.name" required></b-form-input>
          </b-form-group>
          <!-- textbox name -->

          <!-- textbox price -->
          <b-form-group id="input-group-2" label="Price:" label-for="input-2">
            <b-form-input id="Price" v-model="form.price" required></b-form-input>
          </b-form-group>
          <!-- textbox price -->
          <!-- status -->
          <b-form-group>
            <label for="status">Status:</label>
            <select class="form-control" id="status" v-model="form.status" required>
              <option>Active</option>
              <option>Inactive</option>
            </select>
          </b-form-group>
          <!-- status -->

          <!-- Button -->
          <b-button type="submit" class="btn btn-secondary" variant="primary">Submit</b-button>
          <b-button type="reset" class="btn btn-default" variant="danger">Reset</b-button>
        </b-form>
      </template>
    </b-modal>

    <!-- Edit modal -->
    <b-modal id="modal-edit-plan" hide-backdrop centered hide-footer title="EDIT PLAN" no-fade>
      <template v-slot:default="{ hide }">
        <b-form @submit.prevent="updatePlan">
          <!-- textbox name -->
          <b-form-group id="input-group-1" label="Plan Name:" label-for="input-1">
            <b-form-input id="inputplan" v-model="form.name" required></b-form-input>
          </b-form-group>
          <!-- textbox name -->

          <!-- textbox price -->
          <b-form-group id="input-group-2" label="Price:" label-for="input-2">
            <b-form-input id="Price" v-model="form.price" required></b-form-input>
          </b-form-group>
          <!-- textbox price -->
          <!-- status -->
          <b-form-group>
            <label for="status">Status:</label>
            <select class="form-control" id="status" v-model="form.status" required>
              <option>Active</option>
              <option>Inactive</option>
            </select>
          </b-form-group>
          <!-- status -->

          <!-- Button -->
          <b-button type="submit" class="btn btn-secondary" variant="primary">Update</b-button>
        </b-form>
      </template>
    </b-modal>
    <!-- Member table -->

    <!-- table -->
    <h1 class="page-title text-warning">MEMBERSHIP PLAN</h1>
    <b-row></b-row>
    <b-row>
      <b-col xs="12">
        <b-card>
          <!-- search -->
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="filterInput"
              placeholder="Type to Search"
              style="font-size:120%;"
            ></b-form-input>
            <b-input-group-append></b-input-group-append>
          </b-input-group>
          <!-- end search -->

          <!-- TABLE -->
          <b-table
            show-empty
            small
            stacked="md"
            :items="items"
            :fields="fields"
            :current-page="currentPage"
            :per-page="perPage"
            :filter="filter"
            @filtered="onFiltered"
            style="font-size:120%;"
          >
            <template v-slot:cell(add)="row">
              <b-button
                v-if="getRole === 'admin'"
                variant="warning"
                @click="editModal(row)"
                class="p-1 px-3 btn-xs"
              >Edit</b-button>
            </template>
          </b-table>
        </b-card>
        <!-- END TABLE -->

        <!-- pagination -->
        <b-col sm="7" md="6" class="my-1">
          <b-pagination
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            align="fill"
            size="sm"
            class="my-0"
          ></b-pagination>
        </b-col>
        <!-- END PAGINATION -->
      </b-col>
    </b-row>
    <b-row></b-row>
  </div>
</template>

<script>
import $ from "jquery";
/* eslint-disable */
import "imports-loader?jQuery=jquery,this=>window!flot";
import "imports-loader?jQuery=jquery,this=>window!flot/jquery.flot.pie";
/* eslint-enable */
import Widget from "@/components/Widget/Widget";

export default {
  name: "Membership",
  components: { Widget },

  data() {
    return {
      table: [],
      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      newCurrentPage: 1,
      newPerPage: 5,
      newTotalRow: 1,
      filter: "",
      fields: [
        {
          key: "name",
          label: "Monthly Plan",
          sortable: true
        },
        {
          key: "price",
          label: "Price",
          sortable: true
        },
        {
          key: "add",
          label: " "
        }
      ],
      items: [
        {
          id: 1,
          name: "1 month",
          price: "3,800",
          status: "Active"
        },
        {
          id: 2,
          name: "3 month",
          price: "8,400",
          status: "Active"
        },
        {
          id: 3,
          name: "6 month",
          price: "16,500",
          status: "Active"
        },
        {
          id: 4,
          name: "12 month",
          price: "28,000",
          status: "Active"
        }
      ]
    };
  },
  computed: {
    getRole() {
      const role = localStorage.role;
      return role;
    }
  },
  methods: {
    addPlan() {
      this.table.push({
        ...this.form
      });
      this.$bvModal.hide("modal-no-backdrop");
      this.resetModal();
    },

    editModal(row) {
      this.$bvModal.show("modal-edit-plan");
      this.form = {
        ...row
      };
    },
    updatePlan() {
      const index = this.table.findIndex(item => item.name === this.form.name);

      if (index !== -2) {
        this.table.splice(index, 1, this.form);
      }
      this.$bvModal.hide("modal-edit-plan");
      this.resetModal();
    },
    resetModal() {
      this.form = {
        name: null,
        price: null,
        status: null
      };
    },
    getRandomData() {
      const arr = [];

      for (let i = 0; i < 25; i += 1) {
        arr.push(Math.random().toFixed(1) * 10);
      }

      return arr;
    },
    getData() {
      const data = [];
      const seriesCount = 3;
      const accessories = ["SMX", "Direct", "Networks"];

      for (let i = 0; i < seriesCount; i += 1) {
        data.push({
          label: accessories[i],
          data: Math.floor(Math.random() * 100) + 1
        });
      }

      return data;
    },
    initChart() {
      $.plot(this.$refs.chartContainer, this.getData(), {
        series: {
          pie: {
            innerRadius: 0.8,
            show: true,
            fill: 0.5
          }
        },
        colors: ["#ffc247", "#f55d5d", "#9964e3"],
        legend: {
          noColumns: 1,
          container: this.$refs.chartLegend,
          labelBoxBorderColor: "#ffffff"
        }
      });
    }
  },
  mounted() {
    this.initChart();

    window.addEventListener("resize", this.initChart);
  }
};
</script>

<style src="./Membership.scss" lang="scss" scoped />
