<template>
  <div class="login-page">
    <b-container>
      <Widget
        class="mx-auto color: blue"
        title="<center><h3 class='text-warning'>LOU GEH FITNESS GYM</h3></center>"
        customHeader
      >
        <form class="mt" @submit.prevent="login">
          <b-alert class="alert-sm" variant="danger" :show="!!errorMessage">{{errorMessage}}</b-alert>
          <div class="form-group">
            <input
              id="username"
              class="form-control no-border"
              ref="username"
              required
              type="text"
              name="username"
              placeholder="Username"
            />
          </div>
          <div class="form-group">
            <input
              id="password"
              class="form-control no-border"
              ref="password"
              required
              type="password"
              name="password"
              placeholder="Password"
            />
          </div>
          <div class="clearfix">
            <div>
              <b-button
                type="submit"
                class="btn btn-primary btn-lg btn-block"
                variant="warning"
                
              >Login</b-button>
            </div>
          </div>
        </form>
      </Widget>
    </b-container>
  </div>
</template>

<script>
import Widget from "@/components/Widget/Widget";

export default {
  name: "LoginPage",
  components: { Widget },
  data() {
    return {
      errorMessage: null
    };
  },
  methods: {
    login() {
      const admin = {
        username: "admin",
        password: "admin"
      };
      const staff = {
        username: "staff",
        password: "staff"
      };
      const username = this.$refs.username.value;
      const password = this.$refs.password.value;
      if (username === admin.username && password === admin.password) {
        window.localStorage.setItem("authenticated", true);
        localStorage.role = "admin";
        this.$router.push("/app/dashboard");
      }
      if (username === staff.username && password === staff.password) {
        window.localStorage.setItem("authenticated", true);
        localStorage.role = "staff";
        this.$router.push("/app/member");
      }
    }
  },
  created() {
    // if (window.localStorage.getItem("authenticated") === "true") {
    //   this.$router.push("/app/main/analytics");
    // }
  }
};
</script>

<style src="./Login.scss" lang="scss" scoped />
