<template>
  <div v-if="getRole === 'staff'">
    <!-- table -->
    <h1 class="page-title text-warning">MERCHANDISE LIST</h1>
    <b-row></b-row>
    <b-row>
      <!-- FORM 1-->
      <b-col xs="6">
        <!-- search -->
        <b-card>
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="filterInput"
              placeholder="Type to Search"
            ></b-form-input>
            <b-input-group-append></b-input-group-append>
          </b-input-group>
          <!-- end search -->

          <!-- table 1-->
          <b-table
            show-empty
            small
            stacked="md"
            :items="items"
            :fields="fields"
            :current-page="currentPage"
            :per-page="perPage"
            :filter="filter"
            @filtered="onFiltered"
            style="font-size:120%;"
          >
            <template v-slot:cell(add)="row">
              <b-button size="sm" 
              style="font-size:90%;" class="mr-1" @click="addServiceToList(row.item)">Add</b-button>
            </template>
          </b-table>
        </b-card>
        <!-- end table -->

        <!-- pagination -->
        <b-col sm="7" md="6" class="my-1">
          <b-pagination
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            align="fill"
            size="sm"
            class="my-0"
          ></b-pagination>
        </b-col>
      </b-col>
      <!-- end pagination -->
      <!-- end FORM 1 -->

      <!-- FORM 2 -->
      <b-col xs="6" style="margin-top: .1vh;">
        <!-- table -->
        <div>
          <b-card>
            <b-table
              show-empty
              small
              stacked="md"
              :items="newtable"
              :fields="newFields"
              :filter="filter"
              :current-page="newCurrentPage"
              :per-page="newPerPage"
              @filtered="onFiltered"
              style="font-size:120%;"
            >
              <template v-slot:cell(remove)="row">
                <b-button size="sm" style="font-size:90%;"  class="mr-1" @click="removeServiceList(row.index,row)">REMOVE</b-button>
              </template>
            </b-table>
            <b-button
              id="btnId"
              v-b-modal.modal-1
              class="btn btn-warning"
              style="float: right;"
            >PROCEED</b-button>

            <b-modal id="modal-1" hide-backdrop centered hide-footer title="MERCHANDISE" no-fade>
              <template v-slot:default="{ hide }">
                <b-form @submit.prevent="addMember">
                  <!-- textbox merchandise -->
                  <b-form-group id="input-group-1" label="Quantity:" label-for="input-1">
                    <b-form-input id="inputmerchandisename" v-model="form.merchandisename" required></b-form-input>
                  </b-form-group>
                  <!-- textbox merchandise -->

                  <!-- textbox date -->
                  <b-form-group id="input-group-7" label="Date:" label-for="input-7">
                    <b-form-input id="inputdate" v-model="form.date" required type="date"></b-form-input>
                  </b-form-group>
                  <!-- textbox date -->

                  <!-- Button -->
                  <b-button type="submit" class="btn btn-secondary" variant="primary">Submit</b-button>
                  <b-button type="reset" class="btn btn-default" variant="danger">Reset</b-button>
                </b-form>
              </template>
            </b-modal>
          </b-card>
          <!-- end table -->
        </div>
        <!-- margin -->
        <b-col sm="7" md="6" class="my-0">
          <!-- pagination -->
          <b-pagination
            v-model="newCurrentPage"
            :total-rows="newTotalRow"
            :per-page="newPerPage"
            align="fill"
            size="sm"
            class="my-0"
          ></b-pagination>
          <!-- end pagination -->
        </b-col>
      </b-col>
      <!-- END FORM 2 -->
    </b-row>
    <!-- Member table -->
    <h1 class="page-title text-warning">ORDER LIST</h1>
    <b-row></b-row>
    <b-row>
      <b-col xs="12">
        <Widget
          title="<h5>Merchandise <span class='fw-semi-bold'>Transaction</span></h5>"
          bodyClass="widget-table-overflow"
          customHeader
        >
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr class="text-muted">
                  <th>MERCHANDISE NAME</th>
                  <th>QUANTITY</th>
                  <th>PRICE</th>
                  <th>DATE</th>
                  <th>ACTION</th>
                </tr>
              </thead>

              <tbody>
                <tr v-for="row in table" :key="row.id">
                  <td>{{row.merchandisename}}</td>
                  <td>{{row.quantity}}</td>
                  <td>{{row.price}}</td>
                  <td>{{row.date}}</td>

                  <td>
                    <!-- edit MODAL -->
                    <b-modal
                      no-close-on-backdrop
                      size="xl"
                      id="modal-edit-member"
                      hide-backdrop
                      centered
                      hide-footer
                      title="ADD MEMBER"
                      no-fade
                    >
                      <template v-slot:default="{ hide }">
                        <b-row>
                          <b-col lg="6">
                            <b-form @submit.prevent="updateMember">
                              <!-- textbox fname -->
                              <b-form-group
                                id="input-group-1"
                                label="First Name:"
                                label-for="input-1"
                              >
                                <b-form-input
                                  id="inputmerchandisename"
                                  v-model="form.merchandisename"
                                  required
                                ></b-form-input>
                              </b-form-group>
                              <!-- textbox fname -->

                              <!-- textbox mname -->

                              <!-- textbox date -->
                              <b-form-group id="input-group-7" label="Date:" label-for="input-7">
                                <b-form-input
                                  id="inputdate"
                                  v-model="form.date"
                                  required
                                  type="date"
                                ></b-form-input>
                              </b-form-group>
                              <!-- textbox date -->

                              <!-- Button -->
                              <b-button
                                type="submit"
                                class="btn btn-secondary"
                                variant="primary"
                              >Update</b-button>
                            </b-form>
                          </b-col>
                          <b-col lg="6">
                            <b-card>
                              <b-table
                                show-empty
                                small
                                stacked="md"
                                :items="newtable"
                                :fields="newFields"
                                :filter="filter"
                                :current-page="newCurrentPage"
                                :per-page="newPerPage"
                                @filtered="onFiltered"
                              >
                                <template v-slot:cell(remove)="row">
                                  <b-button
                                    size="sm"
                                    class="mr-1"
                                    @click="removeServiceList(row.index,row)"
                                  >REMOVE</b-button>
                                </template>
                              </b-table>
                              <!-- pagination -->
                              <b-pagination
                                v-model="newCurrentPage"
                                :total-rows="newTotalRow"
                                :per-page="newPerPage"
                                align="fill"
                                size="sm"
                                class="my-0"
                              ></b-pagination>
                              <!-- end pagination -->
                            </b-card>
                          </b-col>
                        </b-row>
                      </template>
                    </b-modal>
                    <!-- end edit modal -->
                    <b-button variant="warning" @click="editModal(row)" class="p-1 px-3 btn-xs">Edit</b-button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div></div>
        </Widget>
      </b-col>
    </b-row>
    <b-row></b-row>
  </div>
</template>

<script>
import $ from "jquery";
/* eslint-disable */
import "imports-loader?jQuery=jquery,this=>window!flot";
import "imports-loader?jQuery=jquery,this=>window!flot/jquery.flot.pie";
/* eslint-enable */
import Widget from "@/components/Widget/Widget";

import moment from "moment";
export default {
  name: "Order",
  components: { Widget },
  data() {
    return {
      form: {
        merchandisename: null,
        date: moment(),
        price: null,
        quantity: null
      },
      table: [],
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      newCurrentPage: 1,
      newPerPage: 5,
      newTotalRow: 1,
      filter: "",
      fields: [
        {
          key: "merchandisename",
          label: "Merchandise Name",
          sortable: true
        },
        {
          key: "price",
          label: "Price",
          sortable: true
        },
        {
          key: "quantity",
          label: "Quantity",
          sortable: true
        },
        {
          key: "add",
          label: " "
        }
      ],
      items: [
        {
          merchandisename: "Branded .75 Liter CamelBak eddy (TM)",
          quantity: 5,
          price: "350",
          status: "Active"
        },
        {
          merchandisename: "Custom Arm Band Phone Holder",
          quantity: 5,
          price: "250",
          status: "Active"
        },
        {
          merchandisename: "Promotional Aqua Pearls Hot/Cold Pack",
          quantity: 5,
          price: "235",
          status: "Active"
        },
        {
          merchandisename: "Personalized Multi-Function Pedometer",
          quantity: 5,
          price: "750",
          status: "Active"
        },
        {
          merchandisename: "Customized Budget Duffle Bag",
          quantity: 5,
          price: "1100",
          status: "Active"
        },
        {
          merchandisename: "Logo Quick-Speed Jump Rope",
          quantity: 5,
          price: "175",
          status: "Active"
        },
        {
          merchandisename: "Branded Moisture Bead Hand Sanitizer",
          quantity: 5,
          price: "300",
          status: "Active"
        },
        {
          merchandisename: "Personalized Exercise Band",
          quantity: 5,
          price: "75",
          status: "Active"
        },
        {
          merchandisename: "Promotional Yoga Mat and Carrying Case",
          quantity: 5,
          price: "235",
          status: "Active"
        },
        {
          merchandisename: "Custom Corona Deluxe Cinch Bag",
          quantity: 5,
          price: "1200",
          status: "Active"
        }
      ],
      newtable: [],
      newFields: [
        {
          key: "merchandisename",
          label: "Merchandise Name",
          sortable: true
        },
        {
          key: "price",
          label: "Price",
          sortable: true
        },
        {
          key: "remove",
          label: " "
        }
      ]
    };
  },

  methods: {
    addMember() {
      let string = "";
      let price = 0;
      for (let counter = 0; counter < this.newtable.length; counter++) {
        string += this.newtable[counter].merchandisename + ", ";

        price = parseInt(price) + parseInt(this.newtable[counter].price);
      }

      this.table.push({
        ...this.form,
        date: moment(this.form.date).format("LL"),
        merchandisename: string,
        name: `${this.form.fname} ${this.form.mname} ${this.form.lname}`,
        price: price
      });
      this.$bvModal.hide("modal-1");
      this.resetModal();
    },
    editModal(row) {
      this.$bvModal.show("modal-edit-member");
      this.form = {
        ...row,
        stardate: moment(row.sdate).format("YYYY-MM-DD")
      };
    },
    updateMember() {
      let string = "";
      let price = 0;
      for (let counter = 0; counter < this.newtable.length; counter++) {
        string += this.newtable[counter].merchandisename + ", ";

        price = parseInt(price) + parseInt(this.newtable[counter].price);
      }

      const index = this.table.findIndex(
        item => item.fname === this.form.fname
      );
      if (index !== -1) {
        this.table.splice(index, 1, {
          ...this.form,
          merchandisename: string,
          price: price
        });
      }
      this.$bvModal.hide("modal-edit-member");
      this.resetModal();
    },
    resetModal() {
      this.form = {
        merchandisename: null,
        date: moment().format("YYYY-MM-DD")
      };
    },
    getRandomData() {
      const arr = [];

      for (let i = 0; i < 25; i += 1) {
        arr.push(Math.random().toFixed(1) * 10);
      }

      return arr;
    },
    getData() {
      const data = [];
      const seriesCount = 3;
      const accessories = ["SMX", "Direct", "Networks"];

      for (let i = 0; i < seriesCount; i += 1) {
        data.push({
          label: accessories[i],
          data: Math.floor(Math.random() * 100) + 1
        });
      }

      return data;
    },
    initChart() {
      $.plot(this.$refs.chartContainer, this.getData(), {
        series: {
          pie: {
            innerRadius: 0.8,
            show: true,
            fill: 0.5
          }
        },
        colors: ["#ffc247", "#f55d5d", "#9964e3"],
        legend: {
          noColumns: 1,
          container: this.$refs.chartLegend,
          labelBoxBorderColor: "#ffffff"
        }
      });
    },
    // add to list
    addServiceToList(val) {
      this.newtable.push({
        merchandisename: val.merchandisename,
        price: val.price
      });

      this.items = this.items.filter(item => {
        return item.merchandisename !== val.merchandisename;
      });
    },

    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    // remove service
    removeServiceList(i, row) {
      this.newtable.splice(i, 1);

      this.items.unshift(row.item);
    }
  },
  created() {
    this.form.date = moment().format("YYYY-MM-DD");
    this.totalRows = this.items.length;
    this.newTotalRow = this.newtable.length;

    window.addEventListener("resize", this.initChart);
  },
  updated() {
    this.totalRows = this.items.length;

    this.newTotalRow = this.newtable.length;
  },
  computed: {
    getRole() {
      const role = localStorage.role;
      return role;
    },
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    }
  }
};
</script>

<style src="./Order.scss" lang="scss" scoped />
