<template>
  <div>
    <!-- button -->
    <!-- Modal -->

    <b-modal id="modal-no-backdrop" hide-backdrop centered hide-footer title="ADD USER" no-fade>
      <template v-slot:default="{ hide }">
        <b-form @submit.prevent="addUser">
          <!-- textbox name -->
          <b-form-group id="input-group-1" label="Name:" label-for="input-1">
            <b-form-input id="inputfname" v-model="form.name" required placeholder="Username"></b-form-input>
          </b-form-group>
          <!-- textbox name -->

          <!-- textbox role -->
          <b-form-group>
            <label for="role">Role:</label>
            <select class="form-control" id="role" v-model="form.role" required>
              <option>Staff</option>
              <option>Admin</option>
            </select>
          </b-form-group>
          <!-- textbox Role -->
          <!-- status -->
          <!-- <b-form-group>
            <label for="status">Status:</label>
            <select class="form-control" id="status" v-model="form.status" required>
              <option>Active</option>
              <option>Inactive</option>
            </select>
          </b-form-group>-->
          <!-- status -->

          <!-- Button -->
          <b-button type="submit" class="btn btn-secondary" variant="primary">Submit</b-button>
          <b-button type="reset" class="btn btn-default" variant="danger">Reset</b-button>
        </b-form>
      </template>
    </b-modal>

    <!-- Edit modal -->
    <b-modal id="modal-edit-user" hide-backdrop centered hide-footer title="EDIT USER" no-fade>
      <template v-slot:default="{ hide }">
        <b-form @submit.prevent="updateUser">
          <!-- textbox name -->
          <b-form-group id="inputname" label="Name:" label-for="input-1">
            <b-form-input id="inputfname" v-model="form.name" required placeholder="Full Name"></b-form-input>
          </b-form-group>
          <!-- textbox name -->

          <!-- textbox role -->
          <b-form-group>
            <label for="role">Role:</label>
            <select class="form-control" id="role" v-model="form.role" required>
              <option></option>
              <option>Staff</option>
              <option>Admin</option>
            </select>
          </b-form-group>
          <!-- textbox Role -->
          <!-- status -->
          <b-form-group>
            <label for="status">Status:</label>
            <select class="form-control" id="status" v-model="form.status" required>
              <option>Active</option>
              <option>Inactive</option>
            </select>
          </b-form-group>
          <!-- status -->

          <!-- Button -->
          <b-button type="submit" class="btn btn-secondary" variant="primary">Update</b-button>
        </b-form>
      </template>
    </b-modal>
    <!-- Member table -->

    <!-- table -->
    <b-row align-h="between">
      <b-col lg="4" md="6" sm="6">
        <h1 class="page-title text-warning">USER ACCOUNTS</h1>
      </b-col>
      <b-col lg="1" md="6" sm="6">
        <b-button id="btnId" v-b-modal.modal-no-backdrop class="btn btn-warning">ADD</b-button>
      </b-col>
    </b-row>
    <b-row class="mt-2">
      <b-col xs="12">
        <Widget
          title="<h5>User <span class='fw-semi-bold'>Information</span></h5>"
          bodyClass="widget-table-overflow"
          customHeader
        >
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr class="text-muted">
                  <th>ID</th>
                  <th>NAME</th>
                  <th>ROLE</th>
                  <th>STATUS</th>
                </tr>
              </thead>

              <tbody>
                <tr v-for="row in table" :key="row.id">
                  <td>{{row.id}}</td>
                  <td>{{row.name}}</td>
                  <td>{{row.role}}</td>
                  <td>{{row.status}}</td>
                  <td>
                    <b-button
                      variant="secondary"
                      @click="editModal(row)"
                      class="p-1 px-3 btn-xs"
                    >Edit</b-button>
                    <b-button variant="warning" class="p-1 px-3 btn-xs">RESET PASSWORD</b-button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div></div>
        </Widget>
      </b-col>
    </b-row>
    <b-row></b-row>
  </div>
</template>

<script>
import $ from "jquery";
/* eslint-disable */
import "imports-loader?jQuery=jquery,this=>window!flot";
import "imports-loader?jQuery=jquery,this=>window!flot/jquery.flot.pie";
/* eslint-enable */
import Widget from "@/components/Widget/Widget";

export default {
  name: "Dashboard",
  components: { Widget },
  data() {
    return {
      form: {
        id: 0,
        name: null,
        role: null,
        status: null
      },

      table: []
    };
  },
  methods: {
    addUser() {
      this.form.status = "Active";
      this.table.push({
        ...this.form
      });
      this.$bvModal.hide("modal-no-backdrop");
      this.resetModal();
    },

    editModal(row) {
      this.$bvModal.show("modal-edit-user");
      this.form = {
        ...row
      };
    },
    updateUser() {
      const index = this.table.findIndex(item => item.name === this.form.name);

      if (index !== -2) {
        this.table.splice(index, 1, this.form);
      }
      this.$bvModal.hide("modal-edit-user");
      this.resetModal();
    },
    resetModal() {
      const id = this.form.id + 1;
      this.form = {
        id: id,
        name: null,
        role: null,
        status: null
      };
    },
    getRandomData() {
      const arr = [];

      for (let i = 0; i < 25; i += 1) {
        arr.push(Math.random().toFixed(1) * 10);
      }

      return arr;
    },
    getData() {
      const data = [];
      const seriesCount = 3;
      const accessories = ["SMX", "Direct", "Networks"];

      for (let i = 0; i < seriesCount; i += 1) {
        data.push({
          label: accessories[i],
          data: Math.floor(Math.random() * 100) + 1
        });
      }

      return data;
    },
    initChart() {
      $.plot(this.$refs.chartContainer, this.getData(), {
        series: {
          pie: {
            innerRadius: 0.8,
            show: true,
            fill: 0.5
          }
        },
        colors: ["#ffc247", "#f55d5d", "#9964e3"],
        legend: {
          noColumns: 1,
          container: this.$refs.chartLegend,
          labelBoxBorderColor: "#ffffff"
        }
      });
    }
  },
  mounted() {
    this.initChart();

    window.addEventListener("resize", this.initChart);
  }
};
</script>

<style src="./Dashboard.scss" lang="scss" scoped />
