<template>
  <div v-if="getRole === 'staff'">
    <!-- table -->
    <h1 class="page-title text-warning">WALK-IN MEMBER</h1>
    <b-row></b-row>
    <b-row>
      <!-- FORM 1-->
      <b-col xs="6">
        <!-- search -->
        <b-card>
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="filterInput"
              placeholder="Type to Search"
            ></b-form-input>
            <b-input-group-append></b-input-group-append>
          </b-input-group>
          <!-- end search -->

          <!-- table 1-->
          <b-table
            show-empty
            small
            stacked="md"
            :items="items"
            :fields="fields"
            :current-page="currentPage"
            :per-page="perPage"
            :filter="filter"
            @filtered="onFiltered"
            style="font-size:120%;"
          >
            <template v-slot:cell(add)="row">
              <b-button
                size="sm"
                style="font-size:90%;"
                class="mr-1"
                @click="addServiceToList(row.item)"
              >Add</b-button>
            </template>
          </b-table>
        </b-card>
        <!-- end table -->

        <!-- pagination -->
        <b-col sm="7" md="6" class="my-1">
          <b-pagination
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            align="fill"
            size="sm"
            class="my-0"
          ></b-pagination>
        </b-col>
      </b-col>
      <!-- end pagination -->
      <!-- end FORM 1 -->

      <!-- FORM 2 -->
      <b-col xs="6" style="margin-top: .1vh;">
        <!-- table -->
        <div>
          <b-card>
            <b-table
              show-empty
              small
              stacked="md"
              :items="newtable"
              :fields="newFields"
              :filter="filter"
              :current-page="newCurrentPage"
              :per-page="newPerPage"
              @filtered="onFiltered"
              style="font-size:120%;"
            >
              <template v-slot:cell(remove)="row">
                <b-button
                  size="sm"
                  style="font-size:90%;"
                  class="mr-1"
                  @click="removeServiceList(row.index,row)"
                >REMOVE</b-button>
              </template>
            </b-table>
            <b-button
              id="btnId"
              v-b-modal.modal-1
              class="btn btn-warning"
              style="float: right;"
            >PROCEED</b-button>

            <b-modal id="modal-1" hide-backdrop centered hide-footer title="ADD MEMBER" no-fade>
              <template v-slot:default="{ hide }">
                <b-form @submit.prevent="addMember">
                  <!-- textbox fname -->
                  <b-form-group id="input-group-1" label="First Name:" label-for="input-1">
                    <b-form-input id="inputfname" v-model="form.fname" required></b-form-input>
                  </b-form-group>
                  <!-- textbox fname -->

                  <!-- textbox mname -->
                  <b-form-group id="input-group-2" label="Middle Name:" label-for="input-2">
                    <b-form-input id="inputmname" v-model="form.mname" required></b-form-input>
                  </b-form-group>
                  <!-- textbox mname -->

                  <!-- textbox lname -->
                  <b-form-group id="input-group-3" label="Last Name:" label-for="input-3">
                    <b-form-input id="inputlname" v-model="form.lname" required></b-form-input>
                  </b-form-group>
                  <!-- textbox lname -->

                  <!-- address -->
                  <b-form-group id="input-group-5" label="Address:" label-for="input-5">
                    <b-form-input id="inputAddress" v-model="form.address" type="address" requiredp></b-form-input>
                  </b-form-group>
                  <!-- address -->

                  <!-- textbox zipcode -->
                  <b-form-group id="input-group-6" label="Zip Code:" label-for="input-6">
                    <b-form-input id="inputZipcode" v-model="form.zipcode" type="number"></b-form-input>
                  </b-form-group>
                  <!-- textbox zipcode -->

                  <!-- textbox Startdate -->
                  <b-form-group id="input-group-7" label="Start Date:" label-for="input-7">
                    <b-form-input id="inputStartdate" v-model="form.startdate" required type="date"></b-form-input>
                  </b-form-group>
                  <!-- textbox Startdate -->

                  <!-- textbox Enddate -->
                  <b-form-group id="input-group-8" label="End Date:" label-for="input-8">
                    <b-form-input id="inputEnddate" v-model="form.enddate" required type="date"></b-form-input>
                  </b-form-group>
                  <!-- textbox Enddate -->

                  <!-- Button -->
                  <b-button type="submit" class="btn btn-secondary" variant="primary">Submit</b-button>
                  <b-button type="reset" class="btn btn-default" variant="danger">Reset</b-button>
                </b-form>
              </template>
            </b-modal>
          </b-card>
          <!-- end table -->
        </div>
        <!-- margin -->
        <b-col sm="7" md="6" class="my-0">
          <!-- pagination -->
          <b-pagination
            v-model="newCurrentPage"
            :total-rows="newTotalRow"
            :per-page="newPerPage"
            align="fill"
            size="sm"
            class="my-0"
          ></b-pagination>
          <!-- end pagination -->
        </b-col>
      </b-col>
      <!-- END FORM 2 -->
    </b-row>
    <!-- Member table -->
    <h1 class="page-title text-warning">MEMBER</h1>
    <b-row></b-row>
    <b-row>
      <b-col xs="12">
        <Widget
          title="<h5>Member's <span class='fw-semi-bold'>Information</span></h5>"
          bodyClass="widget-table-overflow"
          customHeader
        >
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr class="text-muted">
                  <th>NAME</th>
                  <th>ADDRESS</th>
                  <th>ZIP CODE</th>
                  <th>CATEGORY</th>
                  <th>START DATE</th>
                  <th>END DATE</th>
                  <th>PRICE</th>
                  <th>ACTION</th>
                </tr>
              </thead>

              <tbody>
                <tr v-for="row in table" :key="row.id">
                  <td>{{row.fname}} {{row.mname}} {{row.lname}}</td>

                  <td>{{row.address}}</td>
                  <td>{{row.zipcode}}</td>
                  <td>{{row.categoryname}}</td>
                  <td>{{row.startdate}}</td>
                  <td>{{row.enddate}}</td>
                  <td>{{row.price}}</td>
                  <td>
                    <!-- edit MODAL -->
                    <b-modal
                      no-close-on-backdrop
                      size="xl"
                      id="modal-edit-member"
                      hide-backdrop
                      centered
                      hide-footer
                      title="ADD MEMBER"
                      no-fade
                    >
                      <template v-slot:default="{ hide }">
                        <b-row>
                          <b-col lg="6">
                            <b-form @submit.prevent="updateMember">
                              <!-- textbox fname -->
                              <b-form-group
                                id="input-group-1"
                                label="First Name:"
                                label-for="input-1"
                              >
                                <b-form-input id="inputfname" v-model="form.fname" required></b-form-input>
                              </b-form-group>
                              <!-- textbox fname -->

                              <!-- textbox mname -->
                              <b-form-group
                                id="input-group-2"
                                label="Middle Name:"
                                label-for="input-2"
                              >
                                <b-form-input id="inputmname" v-model="form.mname" required></b-form-input>
                              </b-form-group>
                              <!-- textbox mname -->

                              <!-- textbox lname -->
                              <b-form-group
                                id="input-group-3"
                                label="Last Name:"
                                label-for="input-3"
                              >
                                <b-form-input id="inputlname" v-model="form.lname" required></b-form-input>
                              </b-form-group>
                              <!-- textbox lname -->

                              <!-- address -->
                              <b-form-group id="input-group-5" label="Address:" label-for="input-5">
                                <b-form-input
                                  id="inputAddress"
                                  v-model="form.address"
                                  type="address"
                                  requiredp
                                ></b-form-input>
                              </b-form-group>
                              <!-- address -->

                              <!-- textbox zipcode -->
                              <b-form-group
                                id="input-group-6"
                                label="Zip Code:"
                                label-for="input-6"
                              >
                                <b-form-input
                                  id="inputZipcode"
                                  v-model="form.zipcode"
                                  type="number"
                                ></b-form-input>
                              </b-form-group>
                              <!-- textbox zipcode -->

                              <!-- textbox Startdate -->
                              <b-form-group
                                id="input-group-7"
                                label="Start Date:"
                                label-for="input-7"
                              >
                                <b-form-input
                                  id="inputStartdate"
                                  v-model="form.startdate"
                                  required
                                  type="date"
                                ></b-form-input>
                              </b-form-group>
                              <!-- textbox Startdate -->

                              <!-- textbox Enddate -->
                              <b-form-group
                                id="input-group-8"
                                label="End Date:"
                                label-for="input-8"
                              >
                                <b-form-input
                                  id="inputEnddate"
                                  v-model="form.enddate"
                                  required
                                  type="date"
                                ></b-form-input>
                              </b-form-group>
                              <!-- textbox Enddate -->
                              <!-- Button -->
                              <b-button
                                type="submit"
                                class="btn btn-secondary"
                                variant="primary"
                              >Update</b-button>
                            </b-form>
                          </b-col>
                          <b-col lg="6">
                            <b-card>
                              <b-table
                                show-empty
                                small
                                stacked="md"
                                :items="newtable"
                                :fields="newFields"
                                :filter="filter"
                                :current-page="newCurrentPage"
                                :per-page="newPerPage"
                                @filtered="onFiltered"
                              >
                                <template v-slot:cell(remove)="row">
                                  <b-button
                                    size="sm"
                                    class="mr-1"
                                    @click="removeServiceList(row.index,row)"
                                  >REMOVE</b-button>
                                </template>
                              </b-table>
                              <!-- pagination -->
                              <b-pagination
                                v-model="newCurrentPage"
                                :total-rows="newTotalRow"
                                :per-page="newPerPage"
                                align="fill"
                                size="sm"
                                class="my-0"
                              ></b-pagination>
                              <!-- end pagination -->
                            </b-card>
                          </b-col>
                        </b-row>
                      </template>
                    </b-modal>
                    <!-- end edit modal -->
                    <b-button variant="primary" @click="editModal(row)" class="p-1 px-3 btn-xs">Edit</b-button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div></div>
        </Widget>
      </b-col>
    </b-row>
    <b-row></b-row>
  </div>
</template>

<script>
import $ from "jquery";
/* eslint-disable */
import "imports-loader?jQuery=jquery,this=>window!flot";
import "imports-loader?jQuery=jquery,this=>window!flot/jquery.flot.pie";
/* eslint-enable */
import Widget from "@/components/Widget/Widget";

import moment from "moment";
export default {
  name: "Walk-in",
  components: { Widget },
  data() {
    return {
      form: {
        fname: null,
        mname: null,
        lname: null,
        address: "",
        zipcode: "",
        startdate: moment(),
        enddate: moment(),
      },
      table: [],
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      newCurrentPage: 1,
      newPerPage: 5,
      newTotalRow: 1,
      filter: "",
      fields: [
        {
          key: "categoryname",
          label: "Category Name",
          sortable: true
        },
        {
          key: "price",
          label: "Price",
          sortable: true
        },
        {
          key: "add",
          label: " "
        }
      ],
      items: [
        {
          categoryname: "Bootcamp",
          price: "150",
          status: "Active"
        },
        {
          categoryname: "Boxing",
          price: "150",
          status: "Active"
        },
        {
          categoryname: "Kickboxing",
          price: "165",
          status: "Active"
        },
        {
          categoryname: "Judo",
          price: "150",
          status: "Active"
        },
        {
          categoryname: "Jiu jitsu",
          price: "125",
          status: "Active"
        },
        {
          categoryname: "Karate",
          price: "150",
          status: "Active"
        },
        {
          categoryname: "Personal training",
          price: "300",
          status: "Active"
        },
        {
          categoryname: "Pilates",
          price: "100",
          status: "Active"
        },
        {
          categoryname: "Self defense",
          price: "175",
          status: "Active"
        },
        {
          categoryname: "Tai chi",
          price: "150",
          status: "Active"
        },
        {
          categoryname: "Weight training",
          price: "200",
          status: "Active"
        },
        {
          categoryname: "Yoga",
          price: "150",
          status: "Active"
        },

        {
          categoryname: "Zumba",
          price: "150",
          status: "Active"
        }
      ],
      newtable: [],
      newFields: [
        {
          key: "categoryname",
          label: "Category Name",
          sortable: true
        },
        {
          key: "price",
          label: "Price",
          sortable: true
        },
        {
          key: "remove",
          label: " "
        }
      ]
    };
  },

  methods: {
    addMember() {
      let string = "";
      let price = 0;
      for (let counter = 0; counter < this.newtable.length; counter++) {
        string += this.newtable[counter].categoryname + ", ";

        price = parseInt(price) + parseInt(this.newtable[counter].price);
      }

      this.table.push({
        ...this.form,
        startdate: moment(this.form.startdate).format("LL"),
        enddate: moment(this.form.enddate).format("LL"),
        categoryname: string,
        name: `${this.form.fname} ${this.form.mname} ${this.form.lname}`,
        price: price
      });
      this.$bvModal.hide("modal-1");
      this.resetModal();
    },
    editModal(row) {
      this.$bvModal.show("modal-edit-member");
      this.form = {
        ...row,
        stardate: moment(row.startdate).format("YYYY-MM-DD"),
        enddate: moment(row.enddate).format("YYYY-MM-DD")
      };
    },
    updateMember() {
      let string = "";
      let price = 0;
      for (let counter = 0; counter < this.newtable.length; counter++) {
        string += this.newtable[counter].categoryname + ", ";

        price = parseInt(price) + parseInt(this.newtable[counter].price);
      }

      const index = this.table.findIndex(
        item => item.fname === this.form.fname
      );
      if (index !== -1) {
        this.table.splice(index, 1, {
          ...this.form,
          categoryname: string,
          price: price
        });
      }
      this.$bvModal.hide("modal-edit-member");
      this.resetModal();
    },
    resetModal() {
      this.form = {
        fname: null,
        mname: null,
        lname: null,
        address: "",
        zipcode: "",
        startdate: moment().format("YYYY-MM-DD"),
        enddate: moment().format("YYYY-MM-DD"),
        membership: null
      };
    },
    getRandomData() {
      const arr = [];

      for (let i = 0; i < 25; i += 1) {
        arr.push(Math.random().toFixed(1) * 10);
      }

      return arr;
    },
    getData() {
      const data = [];
      const seriesCount = 3;
      const accessories = ["SMX", "Direct", "Networks"];

      for (let i = 0; i < seriesCount; i += 1) {
        data.push({
          label: accessories[i],
          data: Math.floor(Math.random() * 100) + 1
        });
      }

      return data;
    },
    initChart() {
      $.plot(this.$refs.chartContainer, this.getData(), {
        series: {
          pie: {
            innerRadius: 0.8,
            show: true,
            fill: 0.5
          }
        },
        colors: ["#ffc247", "#f55d5d", "#9964e3"],
        legend: {
          noColumns: 1,
          container: this.$refs.chartLegend,
          labelBoxBorderColor: "#ffffff"
        }
      });
    },
    // add to list
    addServiceToList(val) {
      this.newtable.push({
        categoryname: val.categoryname,
        price: val.price
      });

      this.items = this.items.filter(item => {
        return item.categoryname !== val.categoryname;
      });
    },

    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    // remove service
    removeServiceList(i, row) {
      this.newtable.splice(i, 1);

      this.items.unshift(row.item);
    }
  },
  created() {
    this.form.startdate = moment().format("YYYY-MM-DD");
    this.form.enddate = moment().format("YYYY-MM-DD");
    this.totalRows = this.items.length;
    this.newTotalRow = this.newtable.length;

    window.addEventListener("resize", this.initChart);
  },
  updated() {
    this.totalRows = this.items.length;

    this.newTotalRow = this.newtable.length;
  },
  computed: {
    getRole() {
      const role = localStorage.role;
      return role;
    },
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    }
  }
};
</script>

<style src="./Walkin.scss" lang="scss" scoped />
