<template>
  <div>
    <!-- button -->
    <b-button
      id="btnId"
      v-b-modal.modal-no-backdrop
      class="btn btn-warning"
      style="float: right;"
      @click="this.showAddModal()"
    >ADD</b-button>
    <!-- Modal -->

    <b-modal id="modal-no-backdrop" hide-backdrop centered hide-footer title="ADD MEMBER" no-fade>
      <template v-slot:default="{ hide }">
        <b-form @submit.prevent="addMember">
          <!-- textbox fname -->
          <b-form-group id="input-group-1" label="First Name:" label-for="input-1">
            <b-form-input id="inputfname" v-model="form.fname" required></b-form-input>
          </b-form-group>
          <!-- textbox fname -->

          <!-- textbox mname -->
          <b-form-group id="input-group-2" label="Middle Name:" label-for="input-2">
            <b-form-input id="inputmname" v-model="form.mname" required></b-form-input>
          </b-form-group>
          <!-- textbox mname -->

          <!-- textbox lname -->
          <b-form-group id="input-group-3" label="Last Name:" label-for="input-3">
            <b-form-input id="inputlname" v-model="form.lname" required></b-form-input>
          </b-form-group>
          <!-- textbox lname -->

          <!-- address -->
          <b-form-group id="input-group-5" label="Address:" label-for="input-5">
            <b-form-input id="inputAddress" v-model="form.address" type="address" required></b-form-input>
          </b-form-group>
          <!-- address -->

          <!-- textbox zipcode -->
          <b-form-group id="input-group-6" label="Zip Code:" label-for="input-6">
            <b-form-input id="inputZipcode" v-model="form.zipcode" type="number"></b-form-input>
          </b-form-group>
          <!-- textbox zipcode -->

          <!-- membership -->
          <b-form-group>
            <label for="membership">Membership:</label>
            <select class="form-control" id="membership" v-model="form.membership">
              <option></option>
              <option>1 month</option>
              <option>3 months</option>
              <option>6 months</option>
              <option>12 months</option>
            </select>
          </b-form-group>
          <!-- membership -->

          <!-- textbox Startdate -->
          <b-form-group id="input-group-7" label="Start Date:" label-for="input-7">
            <b-form-input id="inputStartdate" v-model="form.startdate" required type="date"></b-form-input>
          </b-form-group>
          <!-- textbox Startdate -->

          <!-- textbox Enddate -->
          <b-form-group id="input-group-8" label="End Date:" label-for="input-8">
            <b-form-input id="inputEnddate" v-model="form.enddate" required type="date"></b-form-input>
          </b-form-group>
          <!-- textbox Enddate -->

          <!-- Button -->
          <b-button type="submit" class="btn btn-secondary mb-2" variant="success" @click="$bvToast.show('notification')">Submit</b-button>
          <b-toast
            id="notification"
            title="BootstrapVue"
            static
            no-auto-hide
          >Successfull Added!</b-toast>
          <b-button type="reset" class="btn btn-default" variant="danger">Reset</b-button>
        </b-form>
      </template>
    </b-modal>

    <!-- Edit modal -->
    <b-modal id="modal-edit-member" hide-backdrop centered hide-footer title="EDIT MEMBER" no-fade>
      <template v-slot:default="{ hide }">
        <b-form @submit.prevent="updateMember">
          <!-- textbox fname -->
          <b-form-group id="input-group-1" label="First Name:" label-for="input-1">
            <b-form-input id="inputfname" v-model="form.fname" required></b-form-input>
          </b-form-group>
          <!-- textbox fname -->

          <!-- textbox mname -->
          <b-form-group id="input-group-2" label="Middle Name:" label-for="input-2">
            <b-form-input id="inputmname" v-model="form.mname" required></b-form-input>
          </b-form-group>
          <!-- textbox mname -->

          <!-- textbox lname -->
          <b-form-group id="input-group-3" label="Last Name:" label-for="input-3">
            <b-form-input id="inputlname" v-model="form.lname" required></b-form-input>
          </b-form-group>
          <!-- textbox lname -->

          <!-- textbox Address -->
          <b-form-group id="input-group-5" label="Address:" label-for="input-5">
            <b-form-input id="inputAddress" v-model="form.address" type="address" required></b-form-input>
          </b-form-group>
          <!-- textbox Address -->

          <!-- textbox zipcode -->
          <b-form-group id="input-group-6" label="Zip Code:" label-for="input-6">
            <b-form-input id="inputZipcode" v-model="form.zipcode" type="number"></b-form-input>
          </b-form-group>
          <!-- textbox zipcode -->
          <!-- membership -->
          <b-form-group>
            <label for="membership">Membership:</label>
            <select class="form-control" id="membership" v-model="form.membership">
              <option></option>
              <option>1 month</option>
              <option>3 months</option>
              <option>6 months</option>
              <option>12 months</option>
            </select>
          </b-form-group>
          <!-- membership -->

          <!-- textbox Startdate -->
          <b-form-group id="input-group-7" label="Start Date:" label-for="input-7">
            <b-form-input id="inputStartdate" v-model="form.startdate" required type="date"></b-form-input>
          </b-form-group>
          <!-- textbox Startdate -->

          <!-- textbox Enddate -->
          <b-form-group id="input-group-8" label="End Date:" label-for="input-8">
            <b-form-input id="inputEnddate" v-model="form.enddate" required type="date"></b-form-input>
          </b-form-group>
          <!-- textbox Enddate -->

          <!-- Button -->
          <b-button type="submit" class="btn btn-secondary" variant="primary">Update</b-button>
        </b-form>
      </template>
    </b-modal>
    <!-- Member table -->
    <h1 class="page-title text-warning">MEMBER</h1>
    <b-row></b-row>
    <b-row>
      <!-- FORM 1 -->
      <b-col xs="12">
        <b-card>
          <!-- search -->
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="filterInput"
              placeholder="Type to Search"
              style="font-size:120%;"
            ></b-form-input>
            <b-input-group-append></b-input-group-append>
          </b-input-group>
          <!-- end search -->

          <!-- TABLE -->
          <b-table
            show-empty
            small
            stacked="md"
            :items="table"
            :fields="fields"
            :current-page="currentPage"
            :per-page="perPage"
            :filter="filter"
            @filtered="onFiltered"
            style="font-size:120%;"
          >
            <template v-slot:cell(add)="row">
              <b-button
                variant="warning"
                v-if="getRole === 'admin'"
                @click="editModal(row)"
                class="p-1 px-3 btn-xs"
              >Edit</b-button>
            </template>
          </b-table>
        </b-card>
        <!-- END TABLE -->

        <!-- pagination -->
        <b-col sm="7" md="6" class="my-1">
          <b-pagination
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            align="fill"
            size="sm"
            class="my-0"
          ></b-pagination>
        </b-col>
        <!-- END PAGINATION -->
      </b-col>
    </b-row>
    <b-row></b-row>
  </div>
</template>

<script>
import $ from "jquery";
/* eslint-disable */
import "imports-loader?jQuery=jquery,this=>window!flot";
import "imports-loader?jQuery=jquery,this=>window!flot/jquery.flot.pie";
/* eslint-enable */
import Widget from "@/components/Widget/Widget";
import moment from "moment";
/* eslint-enable */
export default {
  name: "Member",
  components: { Widget },
  created() {
    this.form.startdate = moment().format("YYYY-MM-DD");
    this.form.enddate = moment().format("YYYY-MM-DD");
  },
  data() {
    return {
      show: false,
      form: [],
      table: [],
      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      newCurrentPage: 1,
      newPerPage: 5,
      newTotalRow: 1,
      filter: "",
      fields: [
        {
          key: "name",
          label: "name",
          sortable: true
        },

        {
          key: "address",
          label: "address",
          sortable: true
        },
        {
          key: "zipcode",
          label: "zipcode",
          sortable: true
        },
        {
          key: "membership",
          label: "membership",
          sortable: true
        },
        {
          key: "startdate",
          label: "startdate",
          sortable: true
        },
        {
          key: "enddate",
          label: "enddate",
          sortable: true
        },
        {
          key: "status",
          label: "status",
          sortable: true
        },
        {
          key: "add",
          label: " "
        }
      ]
    };
  },

  methods: {
    showAddModal() {
      this.show = true;
    },

    addMember() {
      this.form.status = "Active";
      const name = `${this.form.fname} ${this.form.mname} ${this.form.lname}`;
      const startdate = moment(this.form.startdate).format("LL");
      const enddate = moment(this.form.enddate).format("LL");
      this.table.push({
        name: name,
        address: this.form.address,
        zipcode: this.form.zipcode,
        membership: this.form.membership,
        startdate: startdate,
        enddate: enddate,
        status: this.form.status
      });
      
      this.$bvModal.hide("modal-no-backdrop");
      this.show = false;
      this.resetModal();
    },
    editModal(row) {
      this.$bvModal.show("modal-edit-member");
      this.form = {
        ...row,
        stardate: moment(row.startdate).format("YYYY-MM-DD"),
        enddate: moment(row.enddate).format("YYYY-MM-DD")
      };
    },
    updateMember() {
      // const index = this.table.findIndex(
      //   item => item.fname === this.form.fname
      // );
      // if (index !== -1) {
      //   this.table.splice(index, 1, this.form);
      // }
      const index = this.items.findIndex(item => item.id === this.form.id);

      this.items[index].name = this.form.name;
      this.items[index].address = this.form.address;
      this.items[index].zipcode = this.form.zipcode;
      this.items[index].membership = this.form.membership;
      this.items[index].startdate = this.form.startdate;
      this.items[index].enddate = this.form.enddate;

      this.$bvModal.hide("modal-edit-member");
      this.resetModal();
    },
    resetModal() {
      this.form = {
        fname: null,
        mname: null,
        lname: null,
        membership: null,
        address: "",
        zipcode: "",
        startdate: null,
        enddate: null
      };
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    // remove service
    removeServiceList(i, row) {
      this.newtable.splice(i, 1);

      this.items.unshift(row.item);
    },
    getRandomData() {
      const arr = [];

      for (let i = 0; i < 25; i += 1) {
        arr.push(Math.random().toFixed(1) * 10);
      }

      return arr;
    },
    getData() {
      const data = [];
      const seriesCount = 3;
      const accessories = ["SMX", "Direct", "Networks"];

      for (let i = 0; i < seriesCount; i += 1) {
        data.push({
          label: accessories[i],
          data: Math.floor(Math.random() * 100) + 1
        });
      }

      return data;
    },
    initChart() {
      $.plot(this.$refs.chartContainer, this.getData(), {
        series: {
          pie: {
            innerRadius: 0.8,
            show: true,
            fill: 0.5
          }
        },
        colors: ["#ffc247", "#f55d5d", "#9964e3"],
        legend: {
          noColumns: 1,
          container: this.$refs.chartLegend,
          labelBoxBorderColor: "#ffffff"
        }
      });
    }
  },
  mounted() {
    this.initChart();

    window.addEventListener("resize", this.initChart);
  }
};
</script>

<style src="./Member.scss" lang="scss" scoped />
