<template>
  <b-navbar class="header d-print-none">
    <b-nav></b-nav>
    <!-- ADMIN LOGO PIC HEADER -->

    <b-nav class="ml-auto">
      <b-nav-item>-SERVICES</b-nav-item>
      <b-nav-item href="/MembershipPlan">MEMBERSHIP</b-nav-item>
      <b-nav-item href="/Shop">MERHCHANDISE</b-nav-item>
      <b-nav-item>CART</b-nav-item>
    </b-nav>
  </b-navbar>
</template>

<script>
export default {
  name: "landingpageHeader"
};
</script>

<style src="./landingpageHeader.scss" lang="scss" scoped />
