<template>
  <nav
    :class="{sidebar: true, sidebarStatic, sidebarOpened}"
  >
    <header class="logo">
      <router-link to="/main">
        <span class="text-warning">FITNESS GYM</span>
      </router-link>
    </header>
    <ul class="nav">
      <NavLink
        v-for="nav in navSideBar"
        :key="nav.index"
        :header="nav.header"
        :link="nav.link"
        :iconName="nav.iconName"
        :index="nav.index"
        :isHeader="nav.isHeader"
      />
    </ul>
    <p></p>
  </nav>
</template>

<script>
import { mapState, mapActions } from "vuex";
import isScreen from "@/core/screenHelper";
import NavLink from "./NavLink/NavLink";

export default {
  name: "Sidebar",
  components: { NavLink },
  data() {
    return {
      navSideBar: [
        {
          header: "Member",
          link: "/app/member",
          iconName: "flaticon-user",
          index: "Member",
          isHeader: true
        },
        {
          header: "Membership",
          link: "/app/Membership",
          iconName: "flaticon-id-card-3",
          index: "Membership",
          isHeader: true
        },
        {
          header: "Services",
          link: "/app/Services",
          iconName: "flaticon-settings-6",
          index: "Services",
          isHeader: true
        },
        {
          header: "Merchandise",
          link: "/app/Merchandise",
          iconName: "flaticon-archive",
          index: "Merchandise",
          isHeader: true
        }
      ]
    };
  },
  methods: {
    ...mapActions("layout", ["changeSidebarActive", "switchSidebar"]),
    setActiveByRoute() {
      const paths = this.$route.fullPath.split("/");
      paths.pop();
      this.changeSidebarActive(paths.join("/"));
    },
    sidebarMouseEnter() {
      if (!this.sidebarStatic && (isScreen("lg") || isScreen("xl"))) {
        this.switchSidebar(false);
        this.setActiveByRoute();
      }
    },
    sidebarMouseLeave() {
      if (!this.sidebarStatic && (isScreen("lg") || isScreen("xl"))) {
        this.switchSidebar(true);
        this.changeSidebarActive(null);
      }
    }
  },
  created() {
    this.setActiveByRoute();
    if (localStorage.role === "admin") {
      this.navSideBar.unshift({
        header: "User Accounts",
        link: "/app/dashboard",
        iconName: "flaticon-user-3",
        index: "dashboard",
        isHeader: true
      });
    }

    if (localStorage.role === "staff") {
      this.navSideBar.push({
        header: "Walk-in",
        link: "/app/Walk-in",
        iconName: "flaticon-plus",
        index: "Walk-in",
        isHeader: true
      })
    }
     if (localStorage.role === "staff") {
      this.navSideBar.push({
        header: "Order",
        link: "/app/Order",
        iconName: "flaticon-price-tag",
        index: "Order",
        isHeader: true
      });
    }
  },
  computed: {
    ...mapState("layout", {
      sidebarStatic: state => state.sidebarStatic,
      sidebarOpened: state => !state.sidebarClose,
      activeItem: state => state.sidebarActiveElement
    })
  }
};
</script>

<!-- Sidebar styles should be scoped -->
<style src="./Sidebar.scss" lang="scss" scoped/>
