<template>
  <div>
    <landingpageHeader/>
  </div>
</template>

<script>
/* eslint-disable */
import "imports-loader?jQuery=jquery,this=>window!flot";
import "imports-loader?jQuery=jquery,this=>window!flot/jquery.flot.pie";

import landingpageHeader from "@/components/Header/landingpageHeader";
/* eslint-enable */
import "./LandingPage.scss";

export default {
  name: "LandingPage",

  components: { landingpageHeader }
};
</script>


<style src="./LandingPage.scss" lang="scss" scoped />