<template>
  <div>
    <!-- button v-b-modal.modal.modal-no-backdrops -->
    <b-button id="btnId" class="btn btn-warning" style="float: right;" @click="showAddModal()">ADD</b-button>
    <!-- Modal -->

    <b-modal
      id="add"
      hide-backdrop
      centered
      hide-footer
      title="ADD MERCHANDISE"
      no-fade
      v-model="show"
    >
      <template v-slot:default="{ hide }">
        <b-form @submit.prevent="addMerchandise">
          <!-- textbox category name -->
          <!-- textbox Merchandise name -->
          <b-form-group id="input-group-1" label="Merchandise Name:" label-for="input-1">
            <b-form-input id="inputMerName" v-model="form.merchandise" required></b-form-input>
          </b-form-group>
          <!-- textbox Merchandise name -->

          <!-- textbox quantity -->
          <b-form-group id="input-group-2" label="Quantity:" label-for="input-2">
            <b-form-input id="quanity" v-model="form.quantity" type="number" required></b-form-input>
          </b-form-group>
          <!-- textbox quantity -->

          <!-- textbox price -->
          <b-form-group id="input-group-3" label="Price:" label-for="input-3">
            <b-form-input id="Price" v-model="form.price" type="number" required></b-form-input>
          </b-form-group>
          <!-- textbox price -->

          <!-- Button -->
          <b-button type="submit" class="btn btn-secondary" variant="primary">Submit</b-button>
          <b-button type="reset" class="btn btn-default" variant="danger">Reset</b-button>
        </b-form>
      </template>
    </b-modal>

    <!-- Edit modal -->
    <b-modal
      id="modal-edit-merchandise"
      hide-backdrop
      centered
      hide-footer
      title="EDIT MERCHANDISE"
      no-fade
    >
      <template v-slot:default="{ hide }">
        <b-form @submit.prevent="updateMerchandise">
          <!-- textbox Merchandise name -->
          <b-form-group id="input-group-1" label="Merchandise Name:" label-for="input-1">
            <b-form-input id="inputMerName" v-model="form.merchandise" required></b-form-input>
          </b-form-group>
          <!-- textbox Merchandise name -->

          <!-- textbox quantity -->
          <b-form-group id="input-group-2" label="Quantity:" label-for="input-2">
            <b-form-input id="quantity" v-model="form.quantity" type="number" required></b-form-input>
          </b-form-group>
          <!-- textbox quantity -->

          <!-- textbox price -->
          <b-form-group id="input-group-3" label="Price:" label-for="input-3">
            <b-form-input id="Price" v-model="form.price" type="number" required></b-form-input>
          </b-form-group>
          <!-- textbox price -->

          <b-form-group id="input-group-3" label="Status:" label-for="input-3">
            <b-form-select
              v-model="form.status"
              :options="[`Active`,`Inactive`]"
              size="sm"
              class="mt-3"
            ></b-form-select>
          </b-form-group>
          <!-- Button -->
          <b-button type="submit" class="btn btn-secondary" variant="primary">Update</b-button>
        </b-form>
      </template>
    </b-modal>
    <!-- Member table -->

    <h1 class="page-title text-warning">MERCHANDISE</h1>
    <b-row></b-row>
    <b-row>
      <!-- FORM 1 -->
      <b-col xs="12">
        <b-card>
          <!-- search -->
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="filterInput"
              placeholder="Type to Search"
              style="font-size:120%;"
            ></b-form-input>
            <b-input-group-append></b-input-group-append>
          </b-input-group>
          <!-- end search -->

          <!-- TABLE -->
          <b-table
            show-empty
            small
            stacked="md"
            :items="items"
            :fields="fields"
            :current-page="currentPage"
            :per-page="perPage"
            :filter="filter"
            @filtered="onFiltered"
            style="font-size:120%;"
          >
            <template v-slot:cell(add)="row">
              <b-button variant="warning" @click="editModal(row)" class="p-1 px-3 btn-xs">Edit</b-button>
            </template>
          </b-table>
        </b-card>
        <!-- END TABLE -->

        <!-- pagination -->
        <b-col sm="7" md="6" class="my-1">
          <b-pagination
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            align="fill"
            size="sm"
            class="my-0"
          ></b-pagination>
        </b-col>
        <!-- END PAGINATION -->
      </b-col>
    </b-row>

    <b-row></b-row>
  </div>
</template>

<script>
import $ from "jquery";
/* eslint-disable */
import "imports-loader?jQuery=jquery,this=>window!flot";
import "imports-loader?jQuery=jquery,this=>window!flot/jquery.flot.pie";
/* eslint-enable */
import Widget from "@/components/Widget/Widget";

export default {
  name: "Merchandise",
  components: { Widget },
  data() {
    return {
      show: false,
      form: [],
      table: [],
      totalRows: 1,
      currentPage: 1,
      perPage: 7,
      newCurrentPage: 1,
      newPerPage: 5,
      newTotalRow: 1,
      filter: "",
      fields: [
        {
          key: "merchandise",
          label: "merchandise Name",
          sortable: true
        },
        {
          key: "quantity",
          label: "quantity",
          sortable: true
        },
        {
          key: "price",
          label: "Price",
          sortable: true
        },
        {
          key: "status",
          label: "status",
          sortable: true
        },

        {
          key: "Add",
          label: " "
        }
      ],
      items: [
        {
          id: 1,
          merchandise: "Branded .75 Liter CamelBak eddy (TM)",
          quantity: 5,
          price: "350",
          status: "Active"
        },
        {
          id: 2,
          merchandise: "Custom Arm Band Phone Holder",
          quantity: 5,
          price: "250",
          status: "Active"
        },
        {
          id: 3,
          merchandise: "Promotional Aqua Pearls Hot/Cold Pack",
          quantity: 5,
          price: "235",
          status: "Active"
        },
        {
          id: 4,
          merchandise: "Personalized Multi-Function Pedometer",
          quantity: 5,
          price: "750",
          status: "Active"
        },
        {
          id: 5,
          merchandise: "Customized Budget Duffle Bag",
          quantity: 5,
          price: "1100",
          status: "Active"
        },
        {
          id: 6,
          merchandise: "Logo Quick-Speed Jump Rope",
          quantity: 5,
          price: "175",
          status: "Active"
        },
        {
          id: 7,
          merchandise: "Branded Moisture Bead Hand Sanitizer",
          quantity: 5,
          price: "300",
          status: "Active"
        },
        {
          id: 8,
          merchandise: "Personalized Exercise Band",
          quantity: 5,
          price: "75",
          status: "Active"
        },
        {
          id: 9,
          merchandise: "Promotional Yoga Mat and Carrying Case",
          quantity: 5,
          price: "235",
          status: "Active"
        },
        {
          id: 10,
          merchandise: "Custom Corona Deluxe Cinch Bag",
          quantity: 5,
          price: "1200",
          status: "Active"
        }
      ]
    };
  },

  methods: {
    showAddModal() {
      this.show = true;
    },
    addMerchandise() {
      this.form.status = "Active",
      this.items.push({
        ...this.form
      });
      this.show = false;
      this.resetModal();
    },

    editModal(row) {
      this.$bvModal.show("modal-edit-merchandise");
      this.form = {
        ...row.item
      };
    },
    updateMerchandise() {
      const index = this.items.findIndex(item => item.id === this.form.id);

      this.items[index].merchandise = this.form.merchandise;
      this.items[index].quantity = this.form.quantity;
      this.items[index].price = this.form.price;
      this.items[index].status = this.form.status;

      // if (index !== -1) {
      //   this.items.splice(index, 1);
      // }
      this.$bvModal.hide("modal-edit-merchandise");
      this.resetModal();
    },
    resetModal() {
      this.form = {
        merchandise: null,
        quantity: null,
        price: null,
        status: null
      };
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    // remove service
    removeServiceList(i, row) {
      this.newtable.splice(i, 1);

      this.items.unshift(row.item);
    }
  },

  getRandomData() {
    const arr = [];

    for (let i = 0; i < 25; i += 1) {
      arr.push(Math.random().toFixed(1) * 10);
    }

    return arr;
  },
  getData() {
    const data = [];
    const seriesCount = 3;
    const accessories = ["SMX", "Direct", "Networks"];

    for (let i = 0; i < seriesCount; i += 1) {
      data.push({
        label: accessories[i],
        data: Math.floor(Math.random() * 100) + 1
      });
    }

    return data;
  },
  created() {
    this.totalRows = this.items.length;
    this.newTotalRow = this.newtable.length;

    window.addEventListener("resize", this.initChart);
  },
  initChart() {
    $.plot(this.$refs.chartContainer, this.getData(), {
      series: {
        pie: {
          innerRadius: 0.8,
          show: true,
          fill: 0.5
        }
      },
      colors: ["#ffc247", "#f55d5d", "#9964e3"],
      legend: {
        noColumns: 1,
        container: this.$refs.chartLegend,
        labelBoxBorderColor: "#ffffff"
      }
    });
  },

  mounted() {
    this.initChart();

    window.addEventListener("resize", this.initChart);
  }
};
</script>

<style src="./Merchandise.scss" lang="scss" scoped />
